/* The overall Layout of the page */
.mainGrid {
    display:grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 60% 20%;

}

/* header grid to separate links from logo */

header {
    display:grid;
    grid-template-columns: 20% 80%;
}

/* content grid to display blog cards */
content {
    display:grid;

}
